## Deliverable 3. Create a Travel Itinerary Map

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../weather_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,santa fe,AR,81.00,clear sky,-31.6333,-60.7000,Conquistador Hotel
1,10,hithadhoo,MV,81.57,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,15,rikitea,PF,78.44,few clouds,-23.1203,-134.9692,Pension Maro'i
3,19,arraial do cabo,BR,89.60,clear sky,-22.9661,-42.0278,Pousada Porto Praia
4,20,samarai,PG,82.99,scattered clouds,-10.6167,150.6667,Nuli Sapi

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df[["Max Temp"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "cape town"]
vacation_end = vacation_df.loc[vacation_df["City"] == "cape town"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "saldanha"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "calvinia"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "ritchie"]

In [29]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
23,86,cape town,ZA,75.2,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [30]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
23,86,cape town,ZA,75.2,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [45]:
#6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]              
#end = 
#stop1 = 
#stop2 = 
#stop3 =

In [46]:
start

array([-33.9258,  18.4232])

In [62]:
#6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])

In [57]:
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
#end = (vacation_start["Lat"].to_numpy()[4],vacation_start["Lng"].to_numpy()[4])
#stop1 = (vacation_start["Lat"].to_numpy()[1],vacation_start["Lng"].to_numpy()[1])
#stop2 = (vacation_start["Lat"].to_numpy()[2],vacation_start["Lng"].to_numpy()[2])
#stop3 = (vacation_start["Lat"].to_numpy()[3],vacation_start["Lng"].to_numpy()[3])

In [41]:
start

(-33.9258, 18.4232)

In [63]:
end

(-33.9258, 18.4232)

In [64]:
stop1

(-33.0117, 17.9442)

In [65]:
stop2

(-31.4707, 19.776)

In [66]:
stop3

(-29.038, 24.6028)

In [67]:
vacation_start["Lat"].to_numpy()

array([-33.9258])

In [70]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

directions_layer = gmaps.directions_layer(
     start, end, waypoints=[stop1,stop2,stop3],
     travel_mode = "DRIVING")                                    
fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3

In [72]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,86,cape town,ZA,75.20,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
1,86,cape town,ZA,75.20,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
2,110,saldanha,ZA,78.80,clear sky,-33.0117,17.9442,Blue Bay Lodge
3,443,calvinia,ZA,76.23,clear sky,-31.4707,19.7760,Die Lemoenhuis
4,310,ritchie,ZA,77.00,clear sky,-29.0380,24.6028,Riverside County Club Kimberley

In [73]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,110,saldanha,ZA,78.8,clear sky,-33.0117,17.9442,Blue Bay Lodge

In [74]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [76]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df[["Max Temp"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))